/* 検索結果ページ */
h2{
    margin-left: 10%;
}

#searchResults{
    margin: 0 auto;
    width: 80%;
    height: auto;
    flex-basis: 50%;
}

#resultContent{
    width: 100%;
    height: auto;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    line-height: 180%;
    display: flex;
}

#resultContent a{
    display: block;
    position: absolute;
    width: 80%;
    height: 31%;
}

#resultContent>div{
    display: flex;
}

#resultContent img{
    width: 100%;
    height: auto;
}

#pnot{
    width: auto;
    margin: auto;
}

#resultContent dl{
    padding: 2%;
    display: flex;              /* フレックスボックスにする */
    flex-wrap: wrap;
    width: 65%;
}

#resultContent dt{
    width: 25%;
    text-align: right;
}

#resultContent dd{
    width: 50%;
    text-align: left;
    padding-left: 10%;
}

#imgcon{
    width: 35%;
}

#storeName{
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 2%;
}


.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }