ul li {
    list-style: none;
}
label {
    margin-right: 10px;
    width:100px;
    float: left;
}
ul li {
    list-style: none;
    label {
    margin-right: 10px;
    width:100px;
    float: left;
}
}


textarea {
  resize: none;
  width:500px;
  height:80px;
}
