#title{
    display: flex;
}

h1{
    width: 80%;
    margin-top: 1%;
    font-size: 20pt;
    margin-left: 5%;
}

/* ログインステータス表示部分 */
#loginStatus{
    margin-top: 1%;
    padding: 1% 2%;
    width: auto;
    height: 6vh;
    border: 0.5px solid rgba(0, 0, 0, 0.22);
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22); */
}

#loginStatus>a{
    color: #000000;
    text-decoration: none;
}



/* メニューの処理 */
header>ul{
    padding: 0.5% 0;
    display:flex;
    justify-content:space-around;
}

header>ul>li{
    list-style: none;
}

header>ul>li>a{
    color: #000000;
    list-style: none;
    text-decoration: none;
}

body {
    color: #5e5e5e;
    font: 400 87.5%/1.5em 'Open Sans', sans-serif;
  }
