dl{
    margin: 0 auto;
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    padding: 5%;
}

dt{
    width: 30%;
    text-align: right;
    margin: 3% 0;
}

dd{
    width: 70%;
    margin: 3% 0;
    text-align: center;
}